.main-container{
    padding: 16px 20px;
    font-size: 14px;
}

.create-visual-notification-button{
    margin-top: 12px;
    margin-right: auto;
    width: 70px;
    padding: 6px 10px;
    font-size: 14px;
}

.visual-notification-dropdown{
    margin-top: 6px;
}

.visual-notification-field{
    margin-top: 6px;
}

.visual-notification-label{
    width: 50%;
}
