.root{
    padding: 20px;
    background-color: #4F4F4F;
    font-size: 12px;
}

.title{
    font-size: 22px;
}

.image{
    margin: 16px auto 16px;
    width: 200px;
    height: 200px;
}

.text{
    margin-bottom: 16px;
    -unity-text-align: middle-left;
}

.button{
    margin-right: auto;
    padding: 6px;
    font-size: 14px;
}
